@import "tailwindcss";

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url(/public/fonts/pretendard/woff2/Pretendard-Black.woff2) format('woff2'), url(/public/fonts/pretendard/woff/Pretendard-Black.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url(/public/fonts/pretendard/woff2/Pretendard-ExtraBold.woff2) format('woff2'), url(/public/fonts/pretendard/woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(/public/fonts/pretendard/woff2/Pretendard-Bold.woff2) format('woff2'), url(/public/fonts/pretendard/woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url(/public/fonts/pretendard/woff2/Pretendard-SemiBold.woff2) format('woff2'), url(/public/fonts/pretendard/woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(/public/fonts/pretendard/woff2/Pretendard-Medium.woff2) format('woff2'), url(/public/fonts/pretendard/woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(/public/fonts/pretendard/woff2/Pretendard-Regular.woff2) format('woff2'), url(/public/fonts/pretendard/woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url(/public/fonts/pretendard/woff2/Pretendard-Light.woff2) format('woff2'), url(/public/fonts/pretendard/woff/Pretendard-Light.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url(/public/fonts/pretendard/woff2/Pretendard-ExtraLight.woff2) format('woff2'), url(/public/fonts/pretendard/woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url(/public/fonts/pretendard/woff2/Pretendard-Thin.woff2) format('woff2'), url(/public/fonts/pretendard/woff/Pretendard-Thin.woff) format('woff');
}


@theme {
    --color-neutral-50: #F6F8FA;
    --color-neutral-100: #EEF0F2;

    --color-border: #E6E6E6;

    --color-primary: #0291B0; /* default */
    --color-primary-300: #8A9BB2;
    --color-primary-400: #72869F;
    --color-primary-500: #5B718D;
    --color-primary-600: #476080;
    --color-primary-700: #3E5066;
    --color-primary-800: #2F3E50;

    --color-secondary: #FE7B5A;

    --color-text: #1C1D21; /* default */
    --color-text-50: #F0F5FF;
    --color-text-100: #C7CEE3;
    --color-text-200: #A3AED0;
    --color-text-300: #7E8FC0;
    --color-text-400: #B7B8BD;
    --color-text-500: #98989D;
    --color-text-700: #636363;
    --color-text-800: #3C3E42;

    --color-error: #FF4848;

    --font-sans: 'Pretandard', sans-serif;
}
